body {
  margin: 0;
  height: 100vh;
}

header {
  height: 10vh;
  background-color: slategrey;
}

main {
  height: 85vh;
}

footer {
  height: 5vh;
  background-color: slategray;
}

#drop-down {
  height: 10vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

#mobile-menu {
  height: 15vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

#image-slider {
  height: 60vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 90%;
  height: 90%;
  background-color: rgb(230, 230, 230);

  display: flex;
  justify-content: center;
  align-items: center;
}

/*dropdown*/

.drop-down-button {
  background: none;
  border: 1px solid white;
  font-size: 18px;
  font-weight: 600;
}

.drop-down-button:hover {
  color: gray;
  cursor: pointer;
}

.drop-down-button:active {
  color: rgb(192, 192, 192);
}

#dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  background-color: slategray;
  min-width: 100px;
  z-index: 1;

  display: none;
}

.dropdown-content a:hover {
  background-color: rgb(184, 185, 185);
}

a {
  color: white;
  text-decoration: none;
}

.show {
  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

/*hamburger menu*/

.hamburger {
  position: relative;

  display: block;
  width: 35px;
  appearance: none;
  background: none;
  outline: none;
  border: none;

  cursor: pointer;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
  width: 100%;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
  content: "";
  display: block;
}

.hamburger.is-active:before {
  transform: rotate(-45deg) translate(-9px, 7px);
}

.hamburger.is-active:after {
  transform: rotate(45deg) translate(-8px, -7px);
}

.hamburger.is-active .bar {
  opacity: 0;
}

.mobile-nav {
  position: fixed;
  top: 300px;
  left: 100%;
  width: 100%;
  min-height: 200px;
  display: block;
  z-index: 98;
  background-color: slategray;
  padding-top: 50px;
  transition: 0.4s;
}

.mobile-nav a {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto 16px;
  text-align: center;
  padding: 12px 16px;
  background-color: rgb(141, 154, 167);
  text-decoration: none;
}

.mobile-nav a:hover {
  background-color: rgb(164, 177, 190);
}

.mobile-nav.is-active {
  left: 0;
}

/*photo slider*/

.image{
  height: 300px;
  width: 300px;
  border: 1px solid black;
}

.carousel{
  height: 35vh;
  width: 56.7vw;
  position: relative;
}

.slide{
  position: absolute;
  inset: 0;
  opacity: 0;
}

.slide > img {
  display:block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ul{
list-style: none;
}

.slide[data-active]{
  opacity: 1;
}

.carousel-button{
  position: absolute;
  background: none;
  border: none;
  font-size: 2em;

  z-index: 2;
  top: 50%;
  transform: translateY(-50%); 
  cursor: pointer;
  border-radius: .25rem;
  padding: 0 .5rem;
  background-color: rgba(0, 0, 0, 0.096);
}

.carousel-button:hover,
.carousel-button:focus{
  color: white;
  background-color: rgba(0, 0, 0, .2);

}

.carousel-button.prev{
  left: 1rem;
}

.carousel-button.next{
  right: 1rem;
}

.slide > .one{
  background-color: rgb(69, 62, 100);
}

.slide > .two{
  background-color: rgb(95, 95, 95);
}

.slide > .three{
  background-color: rgb(153, 153, 153);
}

.slide > .four{
  background-color: rgb(226, 226, 226);
}

.slide > .five{
  background-color: rgb(255, 255, 255);
}
