body {
  margin: 0;
  height: 100vh;
}

header {
  height: 10vh;
  background-color: slategrey;
}

main {
  height: 85vh;
}

footer {
  height: 5vh;
  background-color: slategray;
}

#drop-down {
  height: 10vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

#mobile-menu {
  height: 15vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

#image-slider {
  height: 60vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 90%;
  height: 90%;
  background-color: rgb(230, 230, 230);

  display: flex;
  justify-content: center;
  align-items: center;
}

/*dropdown*/

.drop-down-button {
  background: none;
  border: 1px solid white;
  font-size: 18px;
  font-weight: 600;
}

.drop-down-button:hover {
  color: gray;
  cursor: pointer;
}

.drop-down-button:active {
  color: rgb(192, 192, 192);
}

#dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  background-color: slategray;
  min-width: 100px;
  z-index: 1;

  display: none;
}

.dropdown-content a:hover {
  background-color: rgb(184, 185, 185);
}

a {
  color: white;
  text-decoration: none;
}

.show {
  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

/*hamburger menu*/

.hamburger {
  position: relative;

  display: block;
  width: 35px;
  appearance: none;
  background: none;
  outline: none;
  border: none;

  cursor: pointer;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
  width: 100%;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
  content: "";
  display: block;
}

.hamburger.is-active:before {
  transform: rotate(-45deg) translate(-9px, 7px);
}

.hamburger.is-active:after {
  transform: rotate(45deg) translate(-8px, -7px);
}

.hamburger.is-active .bar {
  opacity: 0;
}

.mobile-nav {
  position: fixed;
  top: 300px;
  left: 100%;
  width: 100%;
  min-height: 200px;
  display: block;
  z-index: 98;
  background-color: slategray;
  padding-top: 50px;
  transition: 0.4s;
}

.mobile-nav a {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto 16px;
  text-align: center;
  padding: 12px 16px;
  background-color: rgb(141, 154, 167);
  text-decoration: none;
}

.mobile-nav a:hover {
  background-color: rgb(164, 177, 190);
}

.mobile-nav.is-active {
  left: 0;
}

/*photo slider*/
#image-slider .content {
  border: 1px solid red;
}

.frame {
  display: inline-block;
  border: 1px solid red;
  height: 100px;
  width: 100px;
  position: fixed;
}

.one,
.two,
.three,
.four,
.five {
  display: inline-block;
  height: 100px;
  width: 100px;
  border: 1px solid black;
  padding: 0;
  margin: 0;
}

.one {
  background-color: black;
  position: relative;
  left: -220%;
}

.two {
  position: relative;
  top: -106%;
  left: -110%;
  background-color: rgb(43, 43, 43);
}

.three {
  position: relative;
  top: -212%;
  left: 0;

  background-color: rgb(129, 129, 129);
}

.four {
  position: relative;
  top: -318%;
  left: 110%;
  background-color: rgb(196, 196, 196);
}

.five {
  position: relative;
  top: -424%;
  left: 220%;
  background-color: rgb(240, 240, 240);
}

.buttons {
  position: fixed;
  top: 620px;
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.left, .right{
  background-color: red;
  width: 20px;
  height: 20px;

}

.but_one,
.but_two,
.but_three,
.but_four,
.but_five {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: black;
}

.left:hover,
.but_one:hover,
.but_two:hover,
.but_three:hover,
.but_four:hover,
.but_five:hover,
.right:hover {
  cursor: pointer;
  background-color: rgb(131, 131, 131);

}

.but_one:active,
.but_two:active,
.but_three:active,
.but_four:active,
.but_five:active {
  background-color: rgb(78, 78, 78);
}

.left:hover, .right:hover{
  background-color: rgb(161, 0, 0);
}

.left:active, .right:active{
  background-color: rgb(255, 61, 61);
}